@import url('../styles/font.css');
@import 'tailwindcss';

body {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
}

:root {
  --color-mandolong-500: #007aff;
  --color-mandolong-600: #1fafff;
  --color-mandolong-800: #ace4ff;
  --color-mandolong-900: #f3fbff;

  --color-gray-050: #282828;
  --color-gray-100: #363636;
  --color-gray-200: #474747;
  --color-gray-300: #606060;
  --color-gray-400: #6c6c6c;
  --color-gray-500: #898989;
  --color-gray-600: #5d5d5d;
  --color-gray-700: #bebebe;
  --color-gray-800: #dcdcdc;
  --color-gray-900: #fafafa;

  --color-profile-bg: #d9d9d9;
  --color-card-bg: #f7f7f7;
  --color-border: #c6c6c6;
  --color-nav-border: #e3e3e3;
  --color-nav-text: #999999;
  --color-subtitle: #4c4c4c;

  --color-white: #ffffff;
  --color-black: #000000;
}

@theme {
  --box-shadow-sm: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.2);
}
